body {
    background-attachment: fixed;
}

p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 20pt;
}

h1 {
    font-size: 80pt;
    font-weight: bold;
    color: white;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40pt;
    color: white;
}

#gamespace {
    background: rgba(78, 78, 78, 0.6);
    padding: 10%;
    min-height: 80%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

progress {
    align-content: center;
}

#choices_col {
    font-size: 30pt;
    align-content: center;
}

.radio {
    width: .6em;
    height: .6em;
    margin-left: 5%;
    margin-right: 1%;
    color: blueviolet;
}

#divider {
    margin: 10px;
}
